h2 Create New Portfolio
.row
  .col-xs-6
    form
      .form-group
        label(for='name') Name
        input.form-control#newPortfolio(type='text', name='name', ng-model='name')
      .form-group
        button.btn.btn-info.btn-xs.form-control(type='submit', ng-click='add(name)') Create Portfolio
