.row
  .col-xs-6
    h2 Portfolio Action
    h3: em {{name}}
    h3 Position: {{position | currency}}
.row
  .col-xs-4
    form.form
      .form-group
        label(for='symbol') Symbol
        input.form-control#symbol(type='text', ng-model='stock.symbol')
        label(for='quantity') Quantity
        input.form-control#quantity(type='quantity', ng-model='stock.quantity')
      .form-group
        button.btn.btn-success.form-control(type='submit' ng-click='purchase(stock)') Buy Stock
      .form-group
        button.btn.btn-info.form-control(ng-click='sell(stock)') Sell Stock
  .col-xs-8
    h3 Stocks
    table.table.table-striped
      thead
        tr
          th Symbol
          th Quantity
          th Price
          th Position
          th Date Purchased
      tbody
        tr(ng-repeat='stock in stocks')
          td {{stock.symbol}}
          td {{stock.quantity}}
          td {{stock.price | currency}}
          td {{stock.position | currency}}
          td {{stock.purchasedOn | date:'MM-dd-yyyy'}}
