h1 Profile

.row
  .col-xs-6#profile
    form
      .form-group
        label(for='photo') Photo URL
        input.form-control#photo(type='text', ng-model='profile.photo')
      .form-group
        label(for='name') Name
        input.form-control#name(type='text', ng-model='profile.name')
      .form-group
        label(for='age') Age
        input.form-control#age(type='number', ng-model='profile.age')
      .form-group
        label(for='gender') Gender
        select.form-control#gender(ng-model='profile.gender')
          option Male
          option Female
      .form-group
        label(for='address') Address
        textarea.form-control#address(rows='3', ng-model='profile.address')
      .form-group
        button.btn.btn-info.btn-xs.form-control(ng-click='save(profile)') Save
  .col-xs-6#profileArea
    img.img-responsive(ng-src='{{profile.photo}}')
    h1 {{profile.name}}
    h2 Age: {{profile.age}}
    h3 Gender: {{profile.gender}}
    h3 {{profile.address}}
h2 Transactions
.row
  .col-xs-6
    form#account
      .form-group
        label(for='amount') Amount
        input.form-control#amount(type='number', ng-model='amount')
      .form-group
        button.btn.btn-danger.form-control(ng-click='deposit(amount)') Deposit
  .col-xs-6#accountArea
    h2 Balance: {{balance | currency}}
